.img-container {
    width: 100%;
    position: relative;
}

.img {
    width: 100%;
    border-radius: 15px;
}

.img-selected {
    width: calc(100% - 7px);
    border: 3.5px solid rgb(25, 202, 25);
}

.mark {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 28px;
}