.tags {
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 5px;
}

.tag-row {
    width: 100%;
    display: flex;
    gap: 5px;
}

.tag {
    display: inline-block;
    font-family: "Roboto";
    box-sizing: border-box;
    background: #dfdfe5;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    cursor: pointer;
    transition: background ease 0.25s;
    transition: color ease 0.25s;
}

.tag:hover {
    background: #a9a9a9;
}

.tag-selected {
    background: #000000 !important;
    color: white;
}