.page {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.title {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.desc {
    font-size: 14px;
    font-family: "Roboto";
    color: gray;
    font-weight: 500;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.content {
    width: 100%;
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.footer {
    display: flex;
    width: 100%;
}

.next-btn:hover {
    background: #3d3d3d;
}